[submodule "themes/cocoa"]
	path = themes/cocoa
	url = https://github.com/TribuneX/cocoa-hugo-theme
[submodule "themes/hugo-goa"]
	path = themes/hugo-goa
	url = https://github.com/TribuneX/hugo-goa.git
